In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
import datetime as dt

In [3]:
engine = create_engine(f"postgresql://postgres:postgres@localhost/NFL")
conn = engine.connect()

In [15]:
table = pd.read_sql_table('nfl2009_2018', conn)
table.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,game_play_id
0,4044,2009102506,TB,NE,TB,home,NE,TB,80.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102506:4044
1,4068,2009102506,TB,NE,TB,home,NE,TB,77.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102506:4068
2,4089,2009102506,TB,NE,TB,home,NE,TB,72.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102506:4089
3,4111,2009102506,TB,NE,TB,home,NE,TB,72.0,2009-10-25,...,J.Freeman,5.0,0,None,Delay of Game,0.0,0.0,0.0,0.0,2009102506:4111
4,4134,2009102506,TB,NE,TB,home,NE,TB,77.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102506:4134

In [5]:
table.head()

,play_id,game_id,yardline_100,game_date,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,drive,qtr,down,time,ydstogo,ydsnet,play_type,yards_gained,game_play_id
0,1017,2009091000,95.0,2009-09-10,784.0,784.0,2584.0,9,2,1.0,13:04,10,8,pass,8.0,2009091000:1017
1,1041,2009091000,87.0,2009-09-10,743.0,743.0,2543.0,9,2,2.0,12:23,2,8,run,0.0,2009091000:1041
2,1062,2009091000,87.0,2009-09-10,699.0,699.0,2499.0,9,2,3.0,11:39,2,16,pass,8.0,2009091000:1062
3,1086,2009091000,79.0,2009-09-10,659.0,659.0,2459.0,9,2,1.0,10:59,10,25,pass,9.0,2009091000:1086
4,1110,2009091000,70.0,2009-09-10,619.0,619.0,2419.0,9,2,2.0,10:19,1,33,run,5.0,2009091000:1110

In [61]:
trees = table[['game_play_id', 'yardline_100', 'half_seconds_remaining', 'game_seconds_remaining', 'drive', 'down', 'ydstogo', 'ydsnet', 'score_differential','play_type']]

In [34]:
trees.head()

,game_play_id,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,drive,qtr,down,ydstogo,ydsnet,score_differential,play_type
0,2009102506:4044,80.0,110.0,110.0,110.0,26,4,1.0,10,3,-27.0,pass
1,2009102506:4068,77.0,81.0,81.0,81.0,26,4,2.0,7,8,-27.0,run
2,2009102506:4089,72.0,76.0,76.0,76.0,26,4,3.0,2,8,-27.0,pass
3,2009102506:4111,72.0,72.0,72.0,72.0,26,4,4.0,2,3,-27.0,no_play
4,2009102506:4134,77.0,72.0,72.0,72.0,26,4,4.0,7,-6,-27.0,pass

In [62]:
df = trees.dropna(how="any")
df = df[df['play_type'].isin(['pass', 'run']) ]
df['play_type'].unique()

array(['pass', 'run'], dtype=object)

In [63]:
target = df["play_type"]
target_names = ['pass', 'run']

data = df.drop("play_type", axis=1)
data.set_index("game_play_id", inplace = True)
cols = ['down', 'score_differential']
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce', axis=1)
feature_names = data.columns
data.head()

,yardline_100,half_seconds_remaining,game_seconds_remaining,drive,down,ydstogo,ydsnet,score_differential
game_play_id,,,,,,,,
2009102506:4044,80.0,110.0,110.0,26,1.0,10,3,-27.0
2009102506:4068,77.0,81.0,81.0,26,2.0,7,8,-27.0
2009102506:4089,72.0,76.0,76.0,26,3.0,2,8,-27.0
2009102506:4134,77.0,72.0,72.0,26,4.0,7,-6,-27.0
2009102503:1442,81.0,425.0,2225.0,9,1.0,10,3,17.0

In [64]:
data.dtypes

yardline_100              float64
half_seconds_remaining    float64
game_seconds_remaining    float64
drive                       int64
down                      float64
ydstogo                     int64
ydsnet                      int64
score_differential        float64
dtype: object

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [66]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6500056485119309

In [71]:
sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.16937303516738636, 'half_seconds_remaining'),
 (0.1687654413717795, 'ydsnet'),
 (0.16603505790900713, 'game_seconds_remaining'),
 (0.15022610392215022, 'yardline_100'),
 (0.11235209478609286, 'score_differential'),
 (0.08799299497993054, 'ydstogo'),
 (0.08688493731780592, 'drive'),
 (0.058370334545847474, 'down')]

In [69]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7171727314948473

In [73]:
# yardline_100,half_seconds_remaining,game_seconds_remaining,drive,down,ydstogo,ydsnet,score_differential
test = [[1,425,2225,10,1,1,80,30]]
test2 = [[80,425,2225,15,3,15,20,-10]]
rf.predict(test2)

array(['pass'], dtype=object)

In [68]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.17325361729739971, 'half_seconds_remaining'),
 (0.16728068607014862, 'game_seconds_remaining'),
 (0.1599040306283643, 'ydsnet'),
 (0.14162351210446647, 'yardline_100'),
 (0.11533131558749833, 'score_differential'),
 (0.09127117814682217, 'ydstogo'),
 (0.08407060394287842, 'drive'),
 (0.067265056222422, 'down')]