In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
import datetime as dt

In [3]:
engine = create_engine(f"postgresql://postgres:postgres@localhost/NFL")
conn = engine.connect()

In [4]:
table = pd.read_sql_table('nfl2009_2018', conn)
table.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,game_play_id
0,1629,2009102504,PIT,MIN,PIT,home,MIN,PIT,68.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1629
1,1654,2009102504,PIT,MIN,MIN,away,PIT,MIN,70.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1654
2,1678,2009102504,PIT,MIN,MIN,away,PIT,MIN,67.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1678
3,1699,2009102504,PIT,MIN,MIN,away,PIT,MIN,67.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1699
4,1723,2009102504,PIT,MIN,None,None,None,MIN,NaN,2009-10-25,...,None,None,0,None,None,NaN,NaN,NaN,NaN,2009102504:1723

In [19]:
table.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,game_play_id
0,1629,2009102504,PIT,MIN,PIT,home,MIN,PIT,68.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1629
1,1654,2009102504,PIT,MIN,MIN,away,PIT,MIN,70.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1654
2,1678,2009102504,PIT,MIN,MIN,away,PIT,MIN,67.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1678
3,1699,2009102504,PIT,MIN,MIN,away,PIT,MIN,67.0,2009-10-25,...,None,None,0,None,None,0.0,0.0,0.0,0.0,2009102504:1699
4,1723,2009102504,PIT,MIN,None,None,None,MIN,NaN,2009-10-25,...,None,None,0,None,None,NaN,NaN,NaN,NaN,2009102504:1723

In [39]:
trees = table[['game_play_id', 'yardline_100', 'half_seconds_remaining', 'game_seconds_remaining', 'down', 'ydstogo', 'score_differential','play_type']]

In [40]:
trees.head()

,game_play_id,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential,play_type
0,2009102504:1629,68.0,214.0,2014.0,4.0,5,-4.0,punt
1,2009102504:1654,70.0,210.0,2010.0,1.0,10,4.0,pass
2,2009102504:1678,67.0,170.0,1970.0,2.0,7,4.0,run
3,2009102504:1699,67.0,129.0,1929.0,3.0,7,4.0,pass
4,2009102504:1723,NaN,120.0,1920.0,None,0,None,None

In [41]:
df = trees.dropna(how="any")
df = df[df['play_type'].isin(['pass', 'run']) ]
df['play_type'].unique()

array(['pass', 'run'], dtype=object)

In [42]:
target = df["play_type"]
target_names = ['pass', 'run']

data = df.drop("play_type", axis=1)
data.set_index("game_play_id", inplace = True)
cols = ['down', 'score_differential']
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce', axis=1)
feature_names = data.columns
data.head()

,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential
game_play_id,,,,,,
2009102504:1654,70.0,210.0,2010.0,1.0,10,4.0
2009102504:1678,67.0,170.0,1970.0,2.0,7,4.0
2009102504:1699,67.0,129.0,1929.0,3.0,7,4.0
2009102504:1740,60.0,120.0,1920.0,1.0,10,4.0
2009102504:1789,65.0,116.0,1916.0,2.0,15,4.0

In [62]:
data.shape

(318668, 6)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [84]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """
/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [46]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.622917895741022

In [47]:
sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.23962012581157557, 'game_seconds_remaining'),
 (0.23473275214941916, 'half_seconds_remaining'),
 (0.222939565125037, 'yardline_100'),
 (0.15205593414609442, 'score_differential'),
 (0.08984647827686885, 'ydstogo'),
 (0.06080514449100501, 'down')]

In [49]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=128)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.6712691578696324

In [50]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.24973402006464315, 'game_seconds_remaining'),
 (0.24816193207728626, 'half_seconds_remaining'),
 (0.209265181812364, 'yardline_100'),
 (0.13482523886951353, 'score_differential'),
 (0.0907227041751136, 'ydstogo'),
 (0.06729092300107928, 'down')]

In [91]:
# testvalue = X_test[0:1]
testvalue['ydstogo'] = 1
testvalue

/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential
game_play_id,,,,,,
2010101700:3377,32.0,369.0,369.0,3.0,1,0.0

In [92]:
testscale = X_scaler.transform(testvalue)
testscale

/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

array([[-0.83508269, -0.8901469 , -1.3135126 ,  1.46997694, -1.94340315,
         0.13674515]])

In [93]:
# yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential
test = [[-0.83508269, -0.8901469 , -1.3135126 ,  1.46997694, -1.17962348,
        0.13674515]]
test2 = [[1,425,2225,1,1,30]]
rf.predict(testscale)

array(['run'], dtype=object)

In [94]:
from sklearn.externals import joblib
filename = 'rf_model.sav'
joblib.dump(rf, filename)

['rf_model.sav']

In [58]:
import eli5 
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(clf, random_state=1).fit(X_train_scaled,y_train)
eli5.show_weights(perm, feature_names = data.columns.tolist())