In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
import datetime as dt

In [3]:
engine = create_engine(f"postgresql://postgres:postgres@localhost/nfl")
conn = engine.connect()

In [5]:
table = pd.read_sql_table('NFL_Full', conn)
table.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0

In [6]:
table.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,None,0,None,None,0.0,0.0,0.0,0.0

In [8]:
zip_code = pd.read_excel('resources/zip_team.xlsx',dtype = {"ZIP": str})
zip_code_mapping = zip_code.rename(columns={"ZIP": "zip_code", "Team Abbreviation": "home_team"})
zip_code_mapping.head()

  home_team zip_code
0       PHI    19148
1        SD    92108
2       CAR    28202
3       JAX    32202
4       CHI    60605

In [10]:
final_table_withzipcode = pd.merge(table, zip_code_mapping, on='home_team', how='left')
final_table_withzipcode.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,zip_code
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,None,None,0,None,None,0.0,0.0,0.0,0.0,15212
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,None,None,0,None,None,0.0,0.0,0.0,0.0,15212
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,None,None,0,None,None,0.0,0.0,0.0,0.0,15212
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,0,None,None,0.0,0.0,0.0,0.0,15212
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,None,None,0,None,None,0.0,0.0,0.0,0.0,15212

In [11]:
final_table_withzipcode.isnull().sum()

play_id                               0
game_id                               0
home_team                             0
away_team                             0
posteam                           13242
posteam_type                      12879
defteam                           12879
side_of_field                       600
yardline_100                      13070
game_date                             0
quarter_seconds_remaining           141
half_seconds_remaining              165
game_seconds_remaining              163
game_half                             0
quarter_end                           0
drive                                 0
sp                                    0
qtr                                   0
down                              67962
goal_to_go                        12707
time                                141
yrdln                               600
ydstogo                               0
ydsnet                                0
desc                                  2
play_type                         12874
yards_gained                        213
shotgun                               0
no_huddle                             0
qb_dropback                       12874
                                  ...
pass_defense_2_player_id         448642
pass_defense_2_player_name       448642
fumbled_1_team                   442816
fumbled_1_player_id              442816
fumbled_1_player_name            442817
fumbled_2_player_id              449333
fumbled_2_player_name            449333
fumbled_2_team                   449333
fumble_recovery_1_team           443339
fumble_recovery_1_yards          443345
fumble_recovery_1_player_id      443339
fumble_recovery_1_player_name    443344
fumble_recovery_2_team           449324
fumble_recovery_2_yards          449324
fumble_recovery_2_player_id      449324
fumble_recovery_2_player_name    449325
return_team                      418766
return_yards                         21
penalty_team                     416735
penalty_player_id                416735
penalty_player_name              418164
penalty_yards                    416753
replay_or_challenge                   0
replay_or_challenge_result       448559
penalty_type                     418232
defensive_two_point_attempt       12874
defensive_two_point_conv          12874
defensive_extra_point_attempt     12874
defensive_extra_point_conv        12874
zip_code                              0
Length: 256, dtype: int64

In [25]:
weather = pd.read_csv('resources/weather_final_full.csv')
weather = weather.drop(columns={'Unnamed: 0'})
weather = weather.rename(columns={"date": "game_date"})
weather.head()

,zip_code,game_date,desc,temperature,snow,windspeed,visibility,humidity,precipitation
0,19148,2009-09-01,Sunny,71,0.0,9,6,58,0.0
1,19148,2009-09-02,Sunny,73,0.0,9,6,63,0.0
2,19148,2009-09-03,Sunny,74,0.0,10,6,64,0.0
3,19148,2009-09-04,Partly cloudy,71,0.0,6,6,69,0.0
4,19148,2009-09-05,Sunny,81,0.0,5,6,52,0.0

In [26]:
final_table_withzipcode['zip_code']=final_table_withzipcode['zip_code'].astype(int)
weather['zip_code']=weather['zip_code'].astype(int)

In [27]:
final_table_withweather = pd.merge(final_table_withzipcode, weather, on=['game_date','zip_code'], how='left')

In [28]:
final_table_withweather.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,defensive_extra_point_attempt,defensive_extra_point_conv,zip_code,desc_y,temperature,snow,windspeed,visibility,humidity,precipitation
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,15212,Sunny,73,0.0,17,6,32,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,15212,Sunny,73,0.0,17,6,32,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,15212,Sunny,73,0.0,17,6,32,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,15212,Sunny,73,0.0,17,6,32,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,15212,Sunny,73,0.0,17,6,32,0.0

In [29]:
final_table_withweather.isnull().sum()

play_id                               0
game_id                               0
home_team                             0
away_team                             0
posteam                           13251
posteam_type                      12887
defteam                           12887
side_of_field                       601
yardline_100                      13079
game_date                             0
quarter_seconds_remaining           141
half_seconds_remaining              165
game_seconds_remaining              163
game_half                             0
quarter_end                           0
drive                                 0
sp                                    0
qtr                                   0
down                              68026
goal_to_go                        12715
time                                141
yrdln                               601
ydstogo                               0
ydsnet                                0
desc_x                                2
play_type                         12882
yards_gained                        213
shotgun                               0
no_huddle                             0
qb_dropback                       12882
                                  ...
fumbled_2_team                   449831
fumble_recovery_1_team           443830
fumble_recovery_1_yards          443836
fumble_recovery_1_player_id      443830
fumble_recovery_1_player_name    443835
fumble_recovery_2_team           449822
fumble_recovery_2_yards          449822
fumble_recovery_2_player_id      449822
fumble_recovery_2_player_name    449823
return_team                      419232
return_yards                         21
penalty_team                     417195
penalty_player_id                417195
penalty_player_name              418627
penalty_yards                    417213
replay_or_challenge                   0
replay_or_challenge_result       449056
penalty_type                     418694
defensive_two_point_attempt       12882
defensive_two_point_conv          12882
defensive_extra_point_attempt     12882
defensive_extra_point_conv        12882
zip_code                              0
desc_y                                0
temperature                           0
snow                                  0
windspeed                             0
visibility                            0
humidity                              0
precipitation                         0
Length: 263, dtype: int64

In [30]:
final_table_withweather.to_csv('resources/final_table_withweather_playbyplay.csv', index=False)

In [36]:
final_table_withweather['game_id']=final_table_withweather['game_id'].astype(str)
final_table_withweather['play_id']=final_table_withweather['play_id'].astype(str)
final_table_withweather['game_play_id'] = final_table_withweather['game_id']+ ':' + final_table_withweather['play_id']

In [37]:
trees = final_table_withweather[['game_play_id', 'yardline_100', 'half_seconds_remaining', 'game_seconds_remaining', 'down', 'ydstogo', 'score_differential','play_type','temperature','snow','windspeed','visibility','humidity','precipitation']]

In [38]:
trees.head()

,game_play_id,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential,play_type,temperature,snow,windspeed,visibility,humidity,precipitation
0,2009091000:46,30.0,1800.0,3600.0,None,0,None,kickoff,73,0.0,17,6,32,0.0
1,2009091000:68,58.0,1793.0,3593.0,1.0,10,0.0,pass,73,0.0,17,6,32,0.0
2,2009091000:92,53.0,1756.0,3556.0,2.0,5,0.0,run,73,0.0,17,6,32,0.0
3,2009091000:113,56.0,1715.0,3515.0,3.0,8,0.0,pass,73,0.0,17,6,32,0.0
4,2009091000:139,56.0,1707.0,3507.0,4.0,8,0.0,punt,73,0.0,17,6,32,0.0

In [39]:
df = trees.dropna(how="any")
df = df[df['play_type'].isin(['pass', 'run']) ]
df['play_type'].unique()

array(['pass', 'run'], dtype=object)

In [40]:
target = df["play_type"]
target_names = ['pass', 'run']

data = df.drop("play_type", axis=1)
data.set_index("game_play_id", inplace = True)
cols = ['down', 'score_differential']
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce', axis=1)
feature_names = data.columns
data.head()

,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential,temperature,snow,windspeed,visibility,humidity,precipitation
game_play_id,,,,,,,,,,,,
2009091000:68,58.0,1793.0,3593.0,1.0,10,0.0,73,0.0,17,6,32,0.0
2009091000:92,53.0,1756.0,3556.0,2.0,5,0.0,73,0.0,17,6,32,0.0
2009091000:113,56.0,1715.0,3515.0,3.0,8,0.0,73,0.0,17,6,32,0.0
2009091000:162,98.0,1696.0,3496.0,1.0,10,0.0,73,0.0,17,6,32,0.0
2009091000:183,98.0,1660.0,3460.0,2.0,10,0.0,73,0.0,17,6,32,0.0

In [41]:
data.shape

(319031, 12)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [43]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\Xiaoqi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Xiaoqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """
C:\Users\Xiaoqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [44]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.6227337696532009

In [45]:
sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.13928621654443704, 'half_seconds_remaining'),
 (0.13685491060986416, 'game_seconds_remaining'),
 (0.13011326692685835, 'yardline_100'),
 (0.11948279692929781, 'temperature'),
 (0.11863349785854437, 'humidity'),
 (0.0983248396486565, 'windspeed'),
 (0.09557102998586864, 'score_differential'),
 (0.08055787669097275, 'ydstogo'),
 (0.0578721176598278, 'down'),
 (0.012968584227792821, 'visibility'),
 (0.006198834462277527, 'snow'),
 (0.004136028455602202, 'precipitation')]

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=128)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.6882193635748138

In [47]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1498557115618364, 'game_seconds_remaining'),
 (0.14907375049249905, 'half_seconds_remaining'),
 (0.12210429198176773, 'yardline_100'),
 (0.10741905771934498, 'humidity'),
 (0.10524336882728628, 'temperature'),
 (0.10245844473080888, 'score_differential'),
 (0.09110402614893776, 'windspeed'),
 (0.08150547377667662, 'ydstogo'),
 (0.0657846457095669, 'down'),
 (0.013322826764606251, 'visibility'),
 (0.007004921312163593, 'snow'),
 (0.005123480974505513, 'precipitation')]

In [49]:
testvalue = X_test[0:1]
testvalue['ydstogo'] = 1
testvalue

C:\Users\Xiaoqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential,temperature,snow,windspeed,visibility,humidity,precipitation
game_play_id,,,,,,,,,,,,
2016090800:1405,19.0,281.0,2081.0,2.0,1,0.0,86,0.0,3,6,10,0.0

In [50]:
testscale = X_scaler.transform(testvalue)
testscale

C:\Users\Xiaoqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

array([[-1.36466554, -1.05525802,  0.32340633,  0.24774418, -1.94233661,
         0.13543937,  1.50475152, -0.12275651, -1.41499952,  0.31292755,
        -2.59975673, -0.17023588]])

In [51]:
# yardline_100,half_seconds_remaining,game_seconds_remaining,down,ydstogo,score_differential
test = [[-0.83508269, -0.8901469 , -1.3135126 ,  1.46997694, -1.17962348,
        0.13674515,64,0,3,6,10,0]]
test2 = [[1,425,2225,1,1,30,83,0,3,6,10,0]]
rf.predict(testscale)

array(['run'], dtype=object)

In [57]:
from sklearn.externals import joblib
filename = 'rf_model_weather.sav'
joblib.dump(rf, filename)

['rf_model_weather.sav']

In [58]:
import eli5 
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(clf, random_state=1).fit(X_train_scaled,y_train)
eli5.show_weights(perm, feature_names = data.columns.tolist())