In [1]:
# Dependencies
import requests
import json
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
df_stadium = pd.read_excel('stadiums_nfl.xlsx',dtype = {"ZIP": str})
df_stadium

,Geo Point,Geo Shape,SECTOR,SUBSECTOR,PRIMARY_TY,SEC_CLASS,DATE_CREAT,DATE_MODIF,COMP_AFFIL,NAME,...,LATITUDE,LONGITUDE,RELIABILIT,COORSOURCE,COMMENTS_1,CONFERENCE,DIVISION,CAPACITY,ROOF_TYPE,TEAM
0,"39.9014700517, -75.1672900567","{u'type': u'Point', u'coordinates': [-75.16729...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Lincoln Financial Field,...,39.90147,-75.16729,High,NGA,"Shares stadium with Union (MLS), Temple Owls(N...",National,East,68532,Open,Philadelphia Eagles
1,"32.7832199992, -117.119759969","{u'type': u'Point', u'coordinates': [-117.1197...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Qualcomm Stadium,...,32.78322,-117.11976,High,NGA,Shares stadium with San Diego St Aztecs(NCAA).,American,West,71294,Open,San Diego Chargers
2,"35.2258400005, -80.8533099799","{u'type': u'Point', u'coordinates': [-80.85330...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Bank of America Stadium,...,35.22584,-80.85331,High,NGA,NaN,National,South,73778,Open,Carolina Panthers
3,"30.3238700522, -81.6368999561","{u'type': u'Point', u'coordinates': [-81.63689...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Jacksonville Municipal Stadium,...,30.32387,-81.63690,High,NGA,NaN,American,South,76867,Open,Jacksonville Jaguars
4,"41.8625000675, -87.6167699762","{u'type': u'Point', u'coordinates': [-87.61676...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Soldier Field,...,41.86250,-87.61677,High,NGA,NaN,National,North,61500,Open,Chicago Bers
5,"42.0918799131, -71.2649100654","{u'type': u'Point', u'coordinates': [-71.26491...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Gillette Stadium,...,42.09188,-71.26491,High,NGA,Shares stadium with Revolution(MLS).,American,East,68756,Open,New England Patriots
6,"42.7737900217, -78.7867900188","{u'type': u'Point', u'coordinates': [-78.78679...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Ralph Wilson Stadium,...,42.77379,-78.78679,High,NGA,NaN,American,East,73967,Open,Buffalo Bills
7,"27.978840052, -82.5034900566","{u'type': u'Point', u'coordinates': [-82.50349...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Raymond James Stadium,...,27.97884,-82.50349,High,NGA,Shares stadium with Southern Florida Bulls(NCAA).,National,South,65857,Open,Tampa Bay Buccaneers
8,"47.5952976774, -122.331714406","{u'type': u'Point', u'coordinates': [-122.3317...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Qwest Stadium,...,47.59476,-122.33165,High,NGA,Shares stadium with Sounders FC(MLS).,National,West,67000,Open,Seattle Seahawks
9,"44.5011699465, -88.0622299348","{u'type': u'Point', u'coordinates': [-88.06222...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Lambeau Field,...,44.50117,-88.06223,High,NGA,NaN,National,North,72928,Open,Green Bay Packers
10,"44.9740100637, -93.258479972","{u'type': u'Point', u'coordinates': [-93.25847...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Hubert H. Humphrey Metrodome,...,44.97401,-93.25848,High,NGA,Shares stadium with Twins(MLB) and Min. Gopher...,National,North,64035,Dome,Minnesota Vikings
11,"33.7573499236, -84.4012100454","{u'type': u'Point', u'coordinates': [-84.40121...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Georgia Dome,...,33.75735,-84.40121,High,NGA,Shares stadium with Georgia State Panthers (NCAA),National,South,71228,Dome,Atlanta Falcons
12,"39.095320014, -84.5162300477","{u'type': u'Point', u'coordinates': [-84.51623...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Paul Brown Stadium,...,39.09532,-84.51623,High,NGA,NaN,American,North,65535,Open,Cincinnati Bengals
13,"40.8136100001, -74.0744399999","{u'type': u'Point', u'coordinates': [-74.07443...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Meadowlands Stadium,...,40.81361,-74.07444,High,NGA,Shares stadium with Giants(NFL) and Jets(NFL),National,East,82500,Open,New York Giants/ NewYork Jets
14,"25.9580100153, -80.2388899544","{u'type': u'Point', u'coordinates': [-80.23888...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Sun Life Stadium,...,25.95801,-80.23889,High,NGA,"Shares stadium with Marlins(MLB), Miami FL(NCAA)",American,East,76500,Open,Miami Dolphins
15,"39.7600000001, -86.1631100002","{u'type': u'Point', u'coordinates': [-86.16311...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Lucas Oil Stadium,...,39.76000,-86.16361,High,NGA,NaN,American,South,63000,Retractable,Indianapolis Colts
16,"29.6849299406, -95.410919978","{u'type': u'Point', u'coordinates': [-95.41091...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-23,2010-02-11,NaN,Reliant Stadium,...,29.68493,-95.41092,High,NGA,NaN,American,South,71500,Retractable,Houston Texans
17,"38.6327799156, -90.1885400268","{u'type': u'Point', u'coordinates': [-90.18854...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Edward Jones Dome,...,38.63278,-90.18854,High,NGA,NaN,National,West,66965,Dome,St. Louis Rams
18,"39.2779000046, -76.6227000055","{u'type': u'Point', u'coordinates': [-76.62270...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,M&T Bank Stadium,...,39.27790,-76.62270,High,NGA,NaN,American,North,71008,Open,Baltimore Ravens
19,"42.3400499765, -83.0456399685","{u'type': u'Point', u'coordinates': [-83.04563...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-23,2010-02-11,NaN,Ford Field,...,42.34005,-83.04564,High,NGA,NaN,National,North,64111,Dome,Detroit Lions
20,"33.5271572087, -112.262291479","{u'type': u'Point', u'coordinates': [-112.2622...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2006-07-18,2010-02-11,NaN,University of Phoenix Stadium,...,33.52713,-112.25876,High,NGA,NaN,National,West,63400,Retractable,Arizona Cardinals
21,"41.5061799776, -81.6996200647","{u'type': u'Point', u'coordinates': [-81.69962...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Cleveland Browns Stadium,...,41.50618,-81.69962,High,NGA,NaN,American,North,65790,Open,Cleveland Browns
22,"37.7523300017, -122.199900021","{u'type': u'Point', u'coordinates': [-122.1999...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Oakland-Alameda County Coliseum,...,37.75233,-122.19990,High,NGA,Shares stadium with Athletics(MLB).,American,West,63026,Open,Oakland Raiders
23,"37.7139900007, -122.386729971","{u'type': u'Point', u'coordinates': [-122.3867...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Candlestick Park,...,37.71399,-122.38673,High,NGA,NaN,National,West,70207,Open,San Francisco 49ers
24,"36.1665400441, -86.7725199962","{u'type': u'Point', u'coordinates': [-86.77251...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,LP Field,...,36.16654,-86.77252,High,NGA,Shares stadium with Tenn St. Tigers (NCAA).,American,South,68798,Open,Tennessee Titans
25,"39.0489499819, -94.4838800902","{u'type': u'Point', u'coordinates': [-94.48388...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Arrowhead Stadium,...,39.04895,-94.48388,High,NGA,NaN,American,West,77000,Open,Kansas City Chiefs
26,"40.4467299846, -80.0157400416","{u'type': u'Point', u'coordinates': [-80.01574...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Heinz Field,...,40.44673,-80.01574,High,NGA,Shares stadium with Pittsburgh Pathers(NCAA).,American,North,65050,Open,Pittsburgh Steelers
27,"38.9076800366, -76.8642599314","{u'type': u'Point', u'coordinates': [-76.86425...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,FedEx Field,...,38.90778,-76.86444,High,NGA,NaN,National,East,91704,Open,Washington Redskins
28,"39.74396, -105.020280016","{u'type': u'Point', u'coordinates': [-105.0202...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Invesco Field at Mile High,...,39.74396,-105.02028,High,NGA,Shares stadium with Outlaws(MLL).,American,West,76125,Open,Denver Broncos
29,"29.9511599884, -90.0812799901","{u'type': u'Point', u'coordinates': [-90.08127...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Louisiana Superdome,...,29.95116,-90.08128,High,NGA,Shares stadium with Tulane Green Wave(NCAA).,National,South,72968,Dome,New Orleans Saints
30,"32.746930527, -97.0923739136","{u'type': u'Point', u'coordinates': [-97.09237...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Cowboys Stadium,...,32.74778,-97.09277,High,NGA,NaN,National,East,80000,Retractable,Dallas Cowboys

In [3]:
df_stadium_zip = df_stadium["ZIP"].tolist()
df_stadium_zip

['19148',
 '92108',
 '28202',
 '32202',
 '60605',
 '02035',
 '14127',
 '33607',
 '98134',
 '54307',
 '55415',
 '30313',
 '45202',
 '07073',
 '33056',
 '46225',
 '77054',
 '63101',
 '21230',
 '48226',
 '85305',
 '44114',
 '94621',
 '94124',
 '37213',
 '64129',
 '15212',
 '20785',
 '80204',
 '70112',
 '76011']

In [4]:
df_start_date = pd.read_excel('date_2015_to_2018.xlsx')
df_start_date['Start_Date'] = pd.to_datetime(df_start_date.Start_Date)
df_start_date['Start_Date'] = df_start_date['Start_Date'].dt.strftime('%Y-%m-%d')
df_start_date = df_start_date["Start_Date"].tolist()
df_start_date

['2015-09-01',
 '2015-10-01',
 '2015-11-01',
 '2015-12-01',
 '2016-09-01',
 '2016-10-01',
 '2016-11-01',
 '2016-12-01',
 '2017-09-01',
 '2017-10-01',
 '2017-11-01',
 '2017-12-01',
 '2018-09-01',
 '2018-10-01',
 '2018-11-01',
 '2018-12-01']

In [5]:
def get_hourly_weather_for_zip(zip_code):

    data = []

    # Target city
    for date in df_start_date:
        start_date = date
    
        # Build the endpoint URL
        target_url = ('http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=9d0ff11d4ea84f9984421726192609&q={}&format=json&date={}&enddate=2018-12-31').format(zip_code,start_date)
        weather = requests.get(target_url).json()
        weather_list = weather['data']['weather']
        for weather_date in weather_list:
            d = weather_date['date']
            snow_cm = weather_date['totalSnow_cm']
            hourly_list = weather_date['hourly']
            for hour in hourly_list:
                temp_f = hour['tempF']
                time = hour['time']
                desc = hour['weatherDesc'][0]['value']
                humidity = hour['humidity']
                vis = hour['visibilityMiles']
                windspeedKmph = hour['windspeedKmph']
                precipInches=hour['precipInches']          

                row = {'zip_code': zip_code, 'date': d, 'snow':snow_cm,'time': time, 'temperature': temp_f,'windspeed':windspeedKmph,'precipitation':precipInches ,'visibility': vis,'humidity': humidity ,'desc': desc}
                data.append(row)   
    return data

In [6]:
zipcode_data = []

for zipcode in df_stadium_zip:
    combined = get_hourly_weather_for_zip(zipcode)
    zipcode_data.extend(combined)

In [7]:
df_final = pd.DataFrame.from_records(zipcode_data)
df_final = df_final[['zip_code', 'date', 'time','desc', 'temperature','snow','windspeed','visibility','humidity','precipitation']]
df_final_1500 = df_final.loc[df_final['time'] == '1500']
df_final_1500

,zip_code,date,time,desc,temperature,snow,windspeed,visibility,humidity,precipitation
5,19148,2015-09-01,1500,Patchy rain possible,80,0.0,10,5,57,0.0
13,19148,2015-09-02,1500,Sunny,90,0.0,12,6,33,0.0
21,19148,2015-09-03,1500,Sunny,92,0.0,7,6,33,0.0
29,19148,2015-09-04,1500,Patchy rain possible,80,0.0,13,5,58,0.0
37,19148,2015-09-05,1500,Patchy rain possible,81,0.0,13,6,58,0.0
45,19148,2015-09-06,1500,Sunny,84,0.0,10,6,32,0.0
53,19148,2015-09-07,1500,Sunny,72,0.0,9,6,70,0.0
61,19148,2015-09-08,1500,Sunny,90,0.0,17,6,39,0.0
69,19148,2015-09-09,1500,Partly cloudy,90,0.0,17,6,48,0.0
77,19148,2015-09-10,1500,Cloudy,76,0.0,16,6,86,0.0
85,19148,2015-09-11,1500,Sunny,81,0.0,4,6,47,0.0
93,19148,2015-09-12,1500,Moderate or heavy rain shower,72,0.0,17,4,87,0.1
101,19148,2015-09-13,1500,Sunny,69,0.0,19,6,52,0.0
109,19148,2015-09-14,1500,Sunny,74,0.0,17,6,38,0.0
117,19148,2015-09-15,1500,Sunny,80,0.0,8,6,32,0.0
125,19148,2015-09-16,1500,Patchy rain possible,72,0.0,10,6,62,0.0
133,19148,2015-09-17,1500,Patchy rain possible,70,0.0,9,5,63,0.0
141,19148,2015-09-18,1500,Moderate rain at times,73,0.0,13,5,69,0.0
149,19148,2015-09-19,1500,Partly cloudy,70,0.0,10,5,65,0.0
157,19148,2015-09-20,1500,Sunny,77,0.0,15,6,40,0.0
165,19148,2015-09-21,1500,Cloudy,69,0.0,15,6,48,0.0
173,19148,2015-09-22,1500,Partly cloudy,71,0.0,17,6,58,0.0
181,19148,2015-09-23,1500,Sunny,77,0.0,11,6,38,0.0
189,19148,2015-09-24,1500,Sunny,78,0.0,17,6,36,0.0
197,19148,2015-09-25,1500,Cloudy,71,0.0,23,6,46,0.0
205,19148,2015-09-26,1500,Overcast,67,0.0,23,6,55,0.0
213,19148,2015-09-27,1500,Partly cloudy,71,0.0,18,6,64,0.0
221,19148,2015-09-28,1500,Patchy rain possible,80,0.0,14,5,58,0.0
229,19148,2015-09-29,1500,Moderate or heavy rain shower,77,0.0,16,4,81,0.1
237,19148,2015-09-30,1500,Overcast,75,0.0,18,6,71,0.0
...,...,...,...,...,...,...,...,...,...,...
137653,76011,2018-12-02,1500,Sunny,59,0.0,8,6,37,0.0
137661,76011,2018-12-03,1500,Sunny,53,0.0,17,6,42,0.0
137669,76011,2018-12-04,1500,Sunny,47,0.0,9,6,40,0.0
137677,76011,2018-12-05,1500,Sunny,53,0.0,12,6,37,0.0
137685,76011,2018-12-06,1500,Overcast,51,0.0,3,6,86,0.0
137693,76011,2018-12-07,1500,Light rain,45,0.0,21,5,86,0.0
137701,76011,2018-12-08,1500,Overcast,40,0.0,24,6,82,0.0
137709,76011,2018-12-09,1500,Sunny,49,0.0,18,6,58,0.0
137717,76011,2018-12-10,1500,Sunny,54,0.0,3,6,34,0.0
137725,76011,2018-12-11,1500,Sunny,59,0.0,26,6,41,0.0
137733,76011,2018-12-12,1500,Overcast,61,0.0,19,6,81,0.0
137741,76011,2018-12-13,1500,Thundery outbreaks possible,60,0.0,15,5,77,0.0
137749,76011,2018-12-14,1500,Overcast,46,0.0,32,6,78,0.0
137757,76011,2018-12-15,1500,Sunny,57,0.0,13,6,33,0.0
137765,76011,2018-12-16,1500,Partly cloudy,63,0.0,14,6,28,0.0
137773,76011,2018-12-17,1500,Partly cloudy,56,0.0,2,6,49,0.0
137781,76011,2018-12-18,1500,Sunny,60,0.0,10,6,51,0.0
137789,76011,2018-12-19,1500,Overcast,59,0.0,6,6,74,0.0
137797,76011,2018-12-20,1500,Sunny,58,0.0,38,6,34,0.0
137805,76011,2018-12-21,1500,Sunny,57,0.0,10,6,30,0.0
137813,76011,2018-12-22,1500,Sunny,63,0.0,20,6,37,0.0
137821,76011,2018-12-23,1500,Sunny,54,0.0,13,6,41,0.0
137829,76011,2018-12-24,1500,Sunny,60,0.0,19,6,54,0.0
137837,76011,2018-12-25,1500,Cloudy,60,0.0,9,6,93,0.0
137845,76011,2018-12-26,1500,Thundery outbreaks possible,64,0.0,33,5,89,0.0
137853,76011,2018-12-27,1500,Sunny,58,0.0,26,6,51,0.0
137861,76011,2018-12-28,1500,Sunny,46,0.0,17,6,45,0.0
137869,76011,2018-12-29,1500,Cloudy,40,0.0,14,6,56,0.0
137877,76011,2018-12-30,1500,Overcast,41,0.0,6,6,69,0.0
137885,76011,2018-12-31,1500,Sunny,60,0.0,17,6,41,0.0

In [8]:
df_final_1500.to_csv('weather_final_2015_to_2018.csv')