In [1]:
# Dependencies
import requests
import json
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
df_stadium = pd.read_excel('stadiums_nfl.xlsx',dtype = {"ZIP": str})
df_stadium

,Geo Point,Geo Shape,SECTOR,SUBSECTOR,PRIMARY_TY,SEC_CLASS,DATE_CREAT,DATE_MODIF,COMP_AFFIL,NAME,...,LONGITUDE,RELIABILIT,COORSOURCE,COMMENTS_1,CONFERENCE,DIVISION,CAPACITY,ROOF_TYPE,TEAM,Team Abbreviation
0,"39.9014700517, -75.1672900567","{u'type': u'Point', u'coordinates': [-75.16729...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Lincoln Financial Field,...,-75.16729,High,NGA,"Shares stadium with Union (MLS), Temple Owls(N...",National,East,68532,Open,Philadelphia Eagles,PHI
1,"32.7832199992, -117.119759969","{u'type': u'Point', u'coordinates': [-117.1197...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Qualcomm Stadium,...,-117.11976,High,NGA,Shares stadium with San Diego St Aztecs(NCAA).,American,West,71294,Open,San Diego Chargers,SD
2,"35.2258400005, -80.8533099799","{u'type': u'Point', u'coordinates': [-80.85330...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Bank of America Stadium,...,-80.85331,High,NGA,NaN,National,South,73778,Open,Carolina Panthers,CAR
3,"30.3238700522, -81.6368999561","{u'type': u'Point', u'coordinates': [-81.63689...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Jacksonville Municipal Stadium,...,-81.63690,High,NGA,NaN,American,South,76867,Open,Jacksonville Jaguars,JAX
4,"41.8625000675, -87.6167699762","{u'type': u'Point', u'coordinates': [-87.61676...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Soldier Field,...,-87.61677,High,NGA,NaN,National,North,61500,Open,Chicago Bears,CHI
5,"42.0918799131, -71.2649100654","{u'type': u'Point', u'coordinates': [-71.26491...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Gillette Stadium,...,-71.26491,High,NGA,Shares stadium with Revolution(MLS).,American,East,68756,Open,New England Patriots,NE
6,"42.7737900217, -78.7867900188","{u'type': u'Point', u'coordinates': [-78.78679...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Ralph Wilson Stadium,...,-78.78679,High,NGA,NaN,American,East,73967,Open,Buffalo Bills,BUF
7,"27.978840052, -82.5034900566","{u'type': u'Point', u'coordinates': [-82.50349...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Raymond James Stadium,...,-82.50349,High,NGA,Shares stadium with Southern Florida Bulls(NCAA).,National,South,65857,Open,Tampa Bay Buccaneers,TB
8,"47.5952976774, -122.331714406","{u'type': u'Point', u'coordinates': [-122.3317...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Qwest Stadium,...,-122.33165,High,NGA,Shares stadium with Sounders FC(MLS).,National,West,67000,Open,Seattle Seahawks,SEA
9,"44.5011699465, -88.0622299348","{u'type': u'Point', u'coordinates': [-88.06222...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Lambeau Field,...,-88.06223,High,NGA,NaN,National,North,72928,Open,Green Bay Packers,GB
10,"44.9740100637, -93.258479972","{u'type': u'Point', u'coordinates': [-93.25847...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Hubert H. Humphrey Metrodome,...,-93.25848,High,NGA,Shares stadium with Twins(MLB) and Min. Gopher...,National,North,64035,Dome,Minnesota Vikings,MIN
11,"33.7573499236, -84.4012100454","{u'type': u'Point', u'coordinates': [-84.40121...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Georgia Dome,...,-84.40121,High,NGA,Shares stadium with Georgia State Panthers (NCAA),National,South,71228,Dome,Atlanta Falcons,ATL
12,"39.095320014, -84.5162300477","{u'type': u'Point', u'coordinates': [-84.51623...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Paul Brown Stadium,...,-84.51623,High,NGA,NaN,American,North,65535,Open,Cincinnati Bengals,CIN
13,"40.8136100001, -74.0744399999","{u'type': u'Point', u'coordinates': [-74.07443...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Meadowlands Stadium,...,-74.07444,High,NGA,Shares stadium with Giants(NFL) and Jets(NFL),National,East,82500,Open,New York Giants,NYG
14,"25.9580100153, -80.2388899544","{u'type': u'Point', u'coordinates': [-80.23888...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Sun Life Stadium,...,-80.23889,High,NGA,"Shares stadium with Marlins(MLB), Miami FL(NCAA)",American,East,76500,Open,Miami Dolphins,MIA
15,"39.7600000001, -86.1631100002","{u'type': u'Point', u'coordinates': [-86.16311...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Lucas Oil Stadium,...,-86.16361,High,NGA,NaN,American,South,63000,Retractable,Indianapolis Colts,IND
16,"29.6849299406, -95.410919978","{u'type': u'Point', u'coordinates': [-95.41091...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-23,2010-02-11,NaN,Reliant Stadium,...,-95.41092,High,NGA,NaN,American,South,71500,Retractable,Houston Texans,HOU
17,"38.6327799156, -90.1885400268","{u'type': u'Point', u'coordinates': [-90.18854...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Edward Jones Dome,...,-90.18854,High,NGA,NaN,National,West,66965,Dome,Saint Louis Rams,STL
18,"39.2779000046, -76.6227000055","{u'type': u'Point', u'coordinates': [-76.62270...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,M&T Bank Stadium,...,-76.62270,High,NGA,NaN,American,North,71008,Open,Baltimore Ravens,BAL
19,"42.3400499765, -83.0456399685","{u'type': u'Point', u'coordinates': [-83.04563...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-23,2010-02-11,NaN,Ford Field,...,-83.04564,High,NGA,NaN,National,North,64111,Dome,Detroit Lions,DET
20,"33.5271572087, -112.262291479","{u'type': u'Point', u'coordinates': [-112.2622...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2006-07-18,2010-02-11,NaN,University of Phoenix Stadium,...,-112.25876,High,NGA,NaN,National,West,63400,Retractable,Arizona Cardinals,ARI
21,"41.5061799776, -81.6996200647","{u'type': u'Point', u'coordinates': [-81.69962...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Cleveland Browns Stadium,...,-81.69962,High,NGA,NaN,American,North,65790,Open,Cleveland Browns,CLE
22,"37.7523300017, -122.199900021","{u'type': u'Point', u'coordinates': [-122.1999...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Oakland-Alameda County Coliseum,...,-122.19990,High,NGA,Shares stadium with Athletics(MLB).,American,West,63026,Open,Oakland Raiders,OAK
23,"37.7139900007, -122.386729971","{u'type': u'Point', u'coordinates': [-122.3867...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Candlestick Park,...,-122.38673,High,NGA,NaN,National,West,70207,Open,San Francisco 49ers,SF
24,"36.1665400441, -86.7725199962","{u'type': u'Point', u'coordinates': [-86.77251...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,LP Field,...,-86.77252,High,NGA,Shares stadium with Tenn St. Tigers (NCAA).,American,South,68798,Open,Tennessee Titans,TEN
25,"39.0489499819, -94.4838800902","{u'type': u'Point', u'coordinates': [-94.48388...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Arrowhead Stadium,...,-94.48388,High,NGA,NaN,American,West,77000,Open,Kansas City Chiefs,KC
26,"40.4467299846, -80.0157400416","{u'type': u'Point', u'coordinates': [-80.01574...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Heinz Field,...,-80.01574,High,NGA,Shares stadium with Pittsburgh Pathers(NCAA).,American,North,65050,Open,Pittsburgh Steelers,PIT
27,"38.9076800366, -76.8642599314","{u'type': u'Point', u'coordinates': [-76.86425...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,FedEx Field,...,-76.86444,High,NGA,NaN,National,East,91704,Open,Washington Redskins,WAS
28,"39.74396, -105.020280016","{u'type': u'Point', u'coordinates': [-105.0202...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Invesco Field at Mile High,...,-105.02028,High,NGA,Shares stadium with Outlaws(MLL).,American,West,76125,Open,Denver Broncos,DEN
29,"29.9511599884, -90.0812799901","{u'type': u'Point', u'coordinates': [-90.08127...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2004-02-11,2010-02-11,NaN,Louisiana Superdome,...,-90.08128,High,NGA,Shares stadium with Tulane Green Wave(NCAA).,National,South,72968,Dome,New Orleans Saints,NO
30,"32.746930527, -97.0923739136","{u'type': u'Point', u'coordinates': [-97.09237...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Cowboys Stadium,...,-97.09277,High,NGA,NaN,National,East,80000,Retractable,Dallas Cowboys,DAL
31,"40.8136100001, -74.0744399999","{u'type': u'Point', u'coordinates': [-74.07443...",High Value/Symboli,Sports Arena,NFL,UNCLASSIFIED,2010-02-11,NaT,NaN,Meadowlands Stadium,...,-74.07444,High,NGA,Shares stadium with Giants(NFL) and Jets(NFL),National,East,82500,Open,New York Jets,NYJ

In [3]:
df_start_date = pd.read_excel('date.xlsx')
df_start_date['Start_Date'] = pd.to_datetime(df_start_date.Start_Date)
df_start_date['Start_Date'] = df_start_date['Start_Date'].dt.strftime('%Y-%m-%d')
df_start_date = df_start_date["Start_Date"].tolist()
df_start_date

['2009-09-01',
 '2009-10-01',
 '2009-11-01',
 '2009-12-01',
 '2010-09-01',
 '2010-10-01',
 '2010-11-01',
 '2010-12-01',
 '2011-09-01',
 '2011-10-01',
 '2011-11-01',
 '2011-12-01',
 '2012-09-01',
 '2012-10-01',
 '2012-11-01',
 '2012-12-01',
 '2013-09-01',
 '2013-10-01',
 '2013-11-01',
 '2013-12-01',
 '2014-09-01',
 '2014-10-01',
 '2014-11-01',
 '2014-12-01',
 '2015-09-01',
 '2015-10-01',
 '2015-11-01',
 '2015-12-01',
 '2016-09-01',
 '2016-10-01',
 '2016-11-01',
 '2016-12-01',
 '2017-09-01',
 '2017-10-01',
 '2017-11-01',
 '2017-12-01',
 '2018-09-01',
 '2018-10-01',
 '2018-11-01',
 '2018-12-01']

In [4]:
df_stadium_zip = ['90037','90746']
df_stadium_zip

['90037', '90746']

In [5]:
def get_hourly_weather_for_zip(zip_code):

    data = []

    # Target city
    for date in df_start_date:
        start_date = date
    
        # Build the endpoint URL
        target_url = ('http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=9d0ff11d4ea84f9984421726192609&q={}&format=json&date={}&enddate=2018-12-31').format(zip_code,start_date)
        weather = requests.get(target_url).json()
        weather_list = weather['data']['weather']
        for weather_date in weather_list:
            d = weather_date['date']
            snow_cm = weather_date['totalSnow_cm']
            hourly_list = weather_date['hourly']
            for hour in hourly_list:
                temp_f = hour['tempF']
                time = hour['time']
                desc = hour['weatherDesc'][0]['value']
                humidity = hour['humidity']
                vis = hour['visibilityMiles']
                windspeedKmph = hour['windspeedKmph']
                precipInches=hour['precipInches']          

                row = {'zip_code': zip_code, 'date': d, 'snow':snow_cm,'time': time, 'temperature': temp_f,'windspeed':windspeedKmph,'precipitation':precipInches ,'visibility': vis,'humidity': humidity ,'desc': desc}
                data.append(row)   
    return data

In [6]:
zipcode_data = []

for zipcode in df_stadium_zip:
    combined = get_hourly_weather_for_zip(zipcode)
    zipcode_data.extend(combined)

In [7]:
df_final = pd.DataFrame.from_records(zipcode_data)
df_final = df_final[['zip_code', 'date', 'time','desc', 'temperature','snow','windspeed','visibility','humidity','precipitation']]
df_final_1500 = df_final.loc[df_final['time'] == '1500']
df_final_1500

,zip_code,date,time,desc,temperature,snow,windspeed,visibility,humidity,precipitation
5,90037,2009-09-01,1500,Sunny,81,0.0,8,6,50,0.0
13,90037,2009-09-02,1500,Sunny,82,0.0,13,6,44,0.0
21,90037,2009-09-03,1500,Sunny,82,0.0,12,6,49,0.0
29,90037,2009-09-04,1500,Sunny,81,0.0,15,6,48,0.0
37,90037,2009-09-05,1500,Sunny,76,0.0,13,6,48,0.0
45,90037,2009-09-06,1500,Sunny,73,0.0,12,6,51,0.0
53,90037,2009-09-07,1500,Sunny,73,0.0,11,6,54,0.0
61,90037,2009-09-08,1500,Sunny,74,0.0,12,6,55,0.0
69,90037,2009-09-09,1500,Sunny,75,0.0,10,6,53,0.0
77,90037,2009-09-10,1500,Sunny,80,0.0,21,6,44,0.0
85,90037,2009-09-11,1500,Sunny,75,0.0,10,6,55,0.0
93,90037,2009-09-12,1500,Sunny,70,0.0,12,6,58,0.0
101,90037,2009-09-13,1500,Sunny,69,0.0,12,6,61,0.0
109,90037,2009-09-14,1500,Sunny,69,0.0,16,6,66,0.0
117,90037,2009-09-15,1500,Sunny,72,0.0,16,6,65,0.0
125,90037,2009-09-16,1500,Sunny,75,0.0,13,6,56,0.0
133,90037,2009-09-17,1500,Sunny,77,0.0,14,6,52,0.0
141,90037,2009-09-18,1500,Sunny,76,0.0,11,6,55,0.0
149,90037,2009-09-19,1500,Sunny,72,0.0,12,6,59,0.0
157,90037,2009-09-20,1500,Sunny,71,0.0,9,6,55,0.0
165,90037,2009-09-21,1500,Sunny,73,0.0,12,6,57,0.0
173,90037,2009-09-22,1500,Sunny,89,0.0,6,6,21,0.0
181,90037,2009-09-23,1500,Sunny,87,0.0,9,6,26,0.0
189,90037,2009-09-24,1500,Sunny,84,0.0,17,6,37,0.0
197,90037,2009-09-25,1500,Sunny,84,0.0,12,6,42,0.0
205,90037,2009-09-26,1500,Sunny,83,0.0,12,6,40,0.0
213,90037,2009-09-27,1500,Sunny,72,0.0,10,6,55,0.0
221,90037,2009-09-28,1500,Sunny,69,0.0,10,6,57,0.0
229,90037,2009-09-29,1500,Partly cloudy,67,0.0,14,6,64,0.0
237,90037,2009-09-30,1500,Sunny,72,0.0,13,6,31,0.0
...,...,...,...,...,...,...,...,...,...,...
22101,90746,2018-12-02,1500,Sunny,61,0.0,14,6,41,0.0
22109,90746,2018-12-03,1500,Sunny,63,0.0,6,6,41,0.0
22117,90746,2018-12-04,1500,Sunny,65,0.0,8,6,39,0.0
22125,90746,2018-12-05,1500,Overcast,56,0.0,19,6,73,0.0
22133,90746,2018-12-06,1500,Sunny,60,0.0,18,6,68,0.0
22141,90746,2018-12-07,1500,Sunny,65,0.0,10,6,58,0.0
22149,90746,2018-12-08,1500,Sunny,65,0.0,8,6,57,0.0
22157,90746,2018-12-09,1500,Sunny,66,0.0,9,6,55,0.0
22165,90746,2018-12-10,1500,Cloudy,64,0.0,2,6,60,0.0
22173,90746,2018-12-11,1500,Sunny,64,0.0,6,6,61,0.0
22181,90746,2018-12-12,1500,Sunny,63,0.0,10,6,71,0.0
22189,90746,2018-12-13,1500,Sunny,69,0.0,3,6,34,0.0
22197,90746,2018-12-14,1500,Overcast,65,0.0,3,6,35,0.0
22205,90746,2018-12-15,1500,Sunny,65,0.0,11,6,48,0.0
22213,90746,2018-12-16,1500,Sunny,62,0.0,10,6,68,0.0
22221,90746,2018-12-17,1500,Partly cloudy,62,0.0,11,6,79,0.0
22229,90746,2018-12-18,1500,Sunny,62,0.0,9,6,75,0.0
22237,90746,2018-12-19,1500,Sunny,66,0.0,5,6,61,0.0
22245,90746,2018-12-20,1500,Sunny,66,0.0,12,6,61,0.0
22253,90746,2018-12-21,1500,Sunny,64,0.0,5,6,67,0.0
22261,90746,2018-12-22,1500,Sunny,63,0.0,8,6,66,0.0
22269,90746,2018-12-23,1500,Sunny,61,0.0,7,6,72,0.0
22277,90746,2018-12-24,1500,Sunny,63,0.0,9,6,63,0.0
22285,90746,2018-12-25,1500,Sunny,63,0.0,24,6,48,0.0
22293,90746,2018-12-26,1500,Sunny,62,0.0,10,6,48,0.0
22301,90746,2018-12-27,1500,Sunny,61,0.0,18,6,46,0.0
22309,90746,2018-12-28,1500,Sunny,59,0.0,3,6,19,0.0
22317,90746,2018-12-29,1500,Sunny,59,0.0,10,6,30,0.0
22325,90746,2018-12-30,1500,Sunny,59,0.0,9,6,54,0.0
22333,90746,2018-12-31,1500,Sunny,60,0.0,11,6,34,0.0

In [8]:
df_final_1500.to_csv('weather_final_LA_LAC.csv')